@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #7f8c8d;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  max-width: 414px;
  width: 100vw;
  height: 100vh;
  max-height: 736px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  box-shadow: 1px 0px 5px 1px #515253;
  background-color: #ecf0f1;
  color: #2f3030;
}
.header,
.history {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.header .title h1 {
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
.header .result-balance h2 {
  font-weight: 500;
  font-size: 1.1rem;
  text-transform: uppercase;
}
.header .result-balance h2 span {
  font-size: 1.3rem;
  font-weight: 600;
}
.header .income-expense-card {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px 0px #515253;
  border-left: 1px solid #a4a5a7;
  border-top: 1px solid #a4a5a7;
  margin-top: 1rem;
  border-radius: 3px;
}
.header .income-expense-card .income,
.header .income-expense-card .expense {
  width: 50%;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
}
.header .income-expense-card .income {
  border-right: 1px solid;
}
.header .income-expense-card .income span {
  color: #058258;
  display: block;
}
.header .income-expense-card .expense span {
  color: #d82404;
  display: block;
}
.header .income-expense-card h3 {
  font-weight: 400;
  font-size: 1.1rem;
}
.history {
  overflow: auto;
}
.history::-webkit-scrollbar {
  width: 0.3em;
}
.history::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.history::-webkit-scrollbar-thumb {
  background-color: #eee;
  outline: 1px solid #eee;
}
.history h4,
.transaction h4 {
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.history .wrapper-items {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.history .wrapper-items .item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  border-radius: 2px;
}
.history .wrapper-items .item button {
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #d82404;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.wrapper-transaction {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.5rem;
}
.history .wrapper-items .item button:hover {
  border: 2px solid #d82404;
}
.transaction {
  width: 100%;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  background-color: #fff;
}
.form input {
  width: 100%;
  height: 40px;
  border-radius: 3px;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0 8px;
  border: 1px solid #d82404;
  margin-bottom: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.form input[type='submit'] {
  background: #d82404;
  height: 38px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  border: 0;
  margin-top: 1rem;
  transition: all 0.3s ease-in-out;
}
.form input[type='submit']:hover {
  background-color: #058258;
  font-size: 1rem;
}
.form p {
  color: #d82404;
  font-size: 0.8rem;
}
